img{
    height: 200px;
    width: 200px;
}
.navBarText{
    position: relative;
    left: 290px;
    text-align: center;
    font-weight: bold;
    font-family: 'Tilt Warp', cursive;
}
.navbar-nav > li{
    padding-left: 20px;
}
.navbar-toggler-icon{
    background-color: white;
}
#lsToggle{
    position: relative;
    left: 50px;
    top: 50px;
}
.lsDropDown{
    text-align: center;
    font-weight: bold;
    font-family: 'Tilt Warp', cursive;
}
@media screen and (max-width:1530px) {
    .navBarText{
        left: 0;
    }
    #lsToggle{
        left: 0;
        top:0;
    }
}