img{
    height: 200px;
    width: 200px;
}
.commonText{
    font-family: 'Tilt Warp', cursive;
    font-weight: bold;
}
.navBarText{
    position: relative;
    left: 290px;
    text-align: center;
    font-weight: bold;
    font-family: 'Tilt Warp', cursive;
}
.navbar-nav > li{
    padding-left: 20px;
}
.navbar-toggler-icon{
    background-color: white;
}
#lsToggle{
    position: relative;
    left: 50px;
    top: 50px;
}
.lsDropDown{
    text-align: center;
    font-weight: bold;
    font-family: 'Tilt Warp', cursive;
}
#heading1{
    text-align: center;
    position: relative;
    top: 150px;

}
#heading2{
    text-align: center;
    position: relative;
    top: 400px;

}

.modal-header{
    margin: auto;
    background-color: lightblue;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}
.buttonContainer{
    display: flex;
    position: relative;
    top: 200px;
    justify-content: space-between;
}
#customerTable{
    position: relative;
    top: 300px;
}
.buttonContainer2{
    display: flex;
    position: relative;
    justify-content: space-between;
    top: 500px;
}
#itemTable{
    position: relative;
    top: 600px;
}


@media screen and (max-width:1530px) {
    .navBarText{
        left: 0;
    }
    #lsToggle{
        left: 0;
        top:0;
    }
    .buttonContainer{
        flex-direction: column;
    }
    #addCustomerButton{
        margin-bottom: 20px;
    }
    #updateCustomerButton{
        margin-bottom: 20px;
    }
    #deleteCustomerButton{
        margin-bottom: 20px;
    }
    #getAllCustomersButton{
        margin-bottom: 20px;
    }
    #customerSearchBar{
        margin-bottom: 20px;
    }
    .buttonContainer2{
        flex-direction: column;
    }
    #addItemButton{
        margin-bottom: 20px;
    }
    #updateItemButton{
        margin-bottom: 20px;
    }
    #deleteItemButton{
        margin-bottom: 20px;
    }
    #getAllItemsButton{
        margin-bottom: 20px;
    }
    #itemsSearchBar{
        margin-bottom: 20px;
    }

}